.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px;
  font-size: 18px;
}
.navbar {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.linkNavbar {
  font-family: "Raleway", sans-serif !important;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
  padding: 2rem;
}
.linkNavbar:hover {
  color: #6e07f3;
}
.accueil:hover {
  text-decoration: underline;
}
.contact {
  text-decoration: none;
  color: #6e07f3;
  margin-left: 2rem;
  cursor: pointer;
}
.btnContact {
  height: 300px;
  width: 300px;
  border-radius: 9999px;
  padding: 15px 40px 15px 40px;
  border: 3px solid #6e07f3;
}
.btnContact:hover {
  background-color: #6e07f3;
  color: white;
}
.logo {
  width: 40%;
}
.menuHamburger {
  position: absolute;
  right: 50px;
  font-size: 25px;
  cursor: pointer;
  top: 10px;
  z-index: 2;
}
.menuTest {
  display: block;
}
.menuTestMobile {
  display: none;
}
.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px;
  font-size: 18px;
}
.test2 {
  width: 32%;
  font-size: 18px;
}

.ant-menu-horizontal {
  line-height: 46px;
  border: none;
}
.ant-menu-item {
  color: inherit;
  border-bottom: none;
}

@media screen and (max-width: 1133px) {
  .btnContact {
    height: 0;
    width: 0;
    border-radius: 0;
    padding: 1rem;
    border: none;
    width: 70%;
  }
  .btnContact:hover {
    background-color: white;
    color: #6e07f3;
  }
  .linkNavbar {
    padding: 1rem;
  }
}
@media screen and (max-width: 1083px) {
  .menuTest {
    display: none;
  }
  .menuTestMobile {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0px;
    font-size: 18px;
  }
  .menuHamburger {
    top: auto;
  }
  .ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
    width: 110%;
    margin-right: 50px;
  }
  .menuTestHidden {
    display: none;
  }

  .logoHidden {
    display: none;
  }
  .menuMobileContent {
    display: flex;
    align-items: center;
  }
  .linkNavbar {
    font-size: 15px;
    padding: 1rem;
  }
  .btnContact {
    font-size: 15px;
  }
}
