.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px;
  font-size: 18px;
}
.navbar {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.linkNavbar {
  font-family: "Raleway", sans-serif !important;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
  padding: 2rem;
  font-family: "Raleway", sans-serif !important;
}
.linkNavbar:hover {
  color: #6e07f3;
}
.accueil:hover {
  text-decoration: underline;
}
.contact {
  text-decoration: none;
  color: #6e07f3;
  margin-left: 2rem;
  cursor: pointer;
}
.btnContact {
  height: 300px;
  width: 300px;
  border-radius: 9999px;
  padding: 15px 40px 15px 40px;
  border: 3px solid #6e07f3;
}
.btnContact:hover {
  background-color: #6e07f3;
  color: white;
}
.logo {
  width: 30%;
}
.menuHamburger {
  display: none;
  position: absolute;
  right: 50px;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1133px) {
  .header.mobileMenuOpen {
    margin-bottom: 40px;
    overflow: hidden;
  }
  .menuHamburger {
    display: block;
    z-index: 2;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    background-color: rgba(233, 210, 258, 0.4);
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100%;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .mobileMenu {
    margin-top: 0;
  }
  .btnContact {
    height: 0;
    width: 0;
    border-radius: 0;
    padding: 1rem;
    border: none;
    width: 70%;
  }
  .btnContact:hover {
    background-color: white;
    color: #6e07f3;
  }
  .linkNavbar {
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .linkNavbar {
    font-size: 15px;
    padding: 1rem;
  }
  .btnContact {
    font-size: 15px;
  }
}
