body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}
code {
  font-family: "Raleway", sans-serif;
}
.ant-carousel .slick-dots li button {
  background: #6e07f2;
  opacity: 0.4;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-inline: 2px !important;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #6e07f2;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-inline: 2px !important;
}
.subtitle {
  white-space: pre-wrap !important;
}

/* NAVBAR */

.ant-menu.ant-menu-root.ant-menu-vertical {
  border: none;
  font-size: 18px;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: white;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: #6e07f2;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: #6e07f2 !important;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-14wwjjs).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  display: none;
}
