body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-carousel .slick-dots li button {
  background: #6e07f2;
  opacity: 0.4;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-inline: 2px !important;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #6e07f2;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-inline: 2px !important;
}
